
*{ margin:0; padding: 0;} body{color:#FFFFFF;}
section, article, form{padding:5px; border-radius:5px;}
label{ with: 100%; display:block;}
article{ background-color: #222222;}
.container{ background-color: #DDDDDD;}
.form_input{ background-color: #555555;}
.product_list{ background-color: #444444;}
.shopping_cart{ background-color: #333333;}
.container{
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
}
.product_list{
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}
  .form_input{
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 1; 
  grid-row-end: 2;   
}
.shopping_cart{
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 3;   
}

.product_item {
  background-image: url("/img/Radish_256.svg") ;
  background-repeat: no-repeat;
  background-size: contain;
}